<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="assets/css/style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="row main">
        <div class="col s10">
            <div class="row title">
                <span class="float:left">
                    <img align="left" src="assets/img/idmc_logo.png">
                </span>
                Foo Fingerz
            </div>
            <div class="row wrapper">      
                <div class="col s6 game-website">
                    Game Computer Screen
                </div>
                <div class="col s6 game-dialog">
                    Game Dialog Screen
                </div>
            </div>
            <div class="row choices-zone">
                <div class="col s12">
                    Sélectionner les compétences nécessaires :
                    <form action="#" class="items">
                        <p class="col s3">
                            <label>
                                <input type="checkbox" name="choices" value="choice1" v-model="checkboxes.eLearning"/>
                                <span>compétences 1</span>
                            </label>
                        </p>
                        <p class="col s3">
                            <label>
                                <input type="checkbox" name="choices" value="choice2" v-model="checkboxes.dataScience" />
                                <span>compétences 2</span>
                            </label>
                        </p>
                        <p class="col s3">
                            <label>
                                <input type="checkbox" name="choices" value="choice3" v-model="checkboxes.uxDesign" />
                                <span>compétences 3</span>
                            </label>
                        </p>
                        <span class="col s3">
                            <a class="waves-effect waves-light btn-large btn-color" v-on:click="treatComplaint">Valider</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s2">
            <div class="row toDoList">
                <div class="col s12">
                    Game To Do List
                </div>
            </div>
            <div class="row ressouces">
                <div class="col s12">
                    <span>Gestion de vos ressources : </span>
                    <div class="ressourcesdiv">
                        Temps : </br> <progress max="100" value="80"></progress> </br>
                    </div>
                    <div>
                        Satisfaction Client : </br> <progress max="100" value="30"></progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/avascript">
        M.AutoInit();
    </script>
</body>

</html>