[v-cloak] {
    display: none;
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue.otf") format("opentype");
}

.main {
    display: flex;
    height: 100%;
}

.wrapper{
    height: 70%;
}

.client{
    position: absolute;
    left: 40%;
    bottom: 0;
    height: 50%;
    display: block;
    margin-top: auto;
}

.title{
    height: 10%;
    text-align: center;
    background-color:rgba(213,213,213,0.8);
    
}

.choices-zone{
    align-items: center;
    height: 20%;
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    padding-top: 8px;
    padding-bottom: 40px;
    border-left-color: #712c83;
    border-left-style: solid;
    border-right-color: #712c83;
    border-right-style: solid;
    border-top-color: #712c83;
    border-top-style: solid;
    border-bottom-color: #712c83;
    border-bottom-style: solid;
}

.toDoList{
    height: 70%;
    text-align: center;
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 4px;
    border-left-width: 8px;
    padding-top: 8px;
    padding-bottom: 40px;
    border-left-color: #18509a;
    border-left-style: solid;
    border-right-color: #18509a;
    border-right-style: solid;
    border-top-color: #18509a;
    border-top-style: solid;
    border-bottom-color: #18509a;
    border-bottom-style: solid;
}

.ressouces{
    height: 30%;
    border-style: solid;
    border-top-width: 4px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    padding-top: 8px;
    padding-bottom: 40px;
    border-left-color: #18509a;
    border-left-style: solid;
    border-right-color: #18509a;
    border-right-style: solid;
    border-top-color: #18509a;
    border-top-style: solid;
    border-bottom-color: #18509a;
    border-bottom-style: solid;
}

.game-website{
    height: 100%;
    border-top-width: 8px;
    border-right-width: 4px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    padding-top: 8px;
    padding-bottom: 40px;
    border-left-color: #d83d42;
    border-left-style: solid;
    border-right-color: #d83d42;
    border-right-style: solid;
    border-top-color: #d83d42;
    border-top-style: solid;
    border-bottom-color: #d83d42;
    border-bottom-style: solid;

}

.game-dialog{
    position: relative;
    background-image: url("../img/office.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right; 
    height: 100%;
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 4px;
    padding-top: 8px;
    padding-bottom: 40px;
    border-left-color: #d83d42;
    border-left-style: solid;
    border-right-color: #d83d42;
    border-right-style: solid;
    border-top-color: #d83d42;
    border-top-style: solid;
    border-bottom-color: #d83d42;
    border-bottom-style: solid;
}

.ressourcesdiv{
    padding-top: 10px;
    
}

.row{
    margin-bottom: 0%;
}

.items{
    margin-top: 2%
}

.btn-color{
    background-color: #54A0AB;
}

html, body {
    height: 100%;
}


/* SECTION DEDIEE A L'ORDINATEUR VIRTUEL */
.site{
    border-top : solid 15px black;
    border-bottom : solid 15px black ;
    border-left : solid 20px black;
    border-right : solid 20px black;
}
.site1{
    font-family: 'Times New Roman', Times, serif;
}

.site3{
    background-color : #252120;
    color : white;
    width : 105%;
    height : 100%;
    margin-left : -2.5%;
}

.series img{
    width : 20%;
    height : 65px;
}

nav{
    background-color: #252120;
    color : white;
    width : 96%;
    margin-left : 2%;
}

.site3 #lo{
    width : 40%;
}

nav li{
    margin-left : 15px;
    margin-right : 15px;
    font-size : 13px;
}

.btn-small{
    background-color:#e3270a;
}

#help{
    margin-left : 80%;
    color : white;
    font-size : 10px;
}